<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="layout :: page">
<head>
<title th:fragment="title">Events</title>
<script src="content-script.js"></script>
</head>
<body>
	<section th:fragment="content" class="col-sm-10">
		<script>
			page = "events";
		</script>

		<h2>Edit event</h2>
		<br></br>

		<form class="form-horizontal" method="post" th:object="${event}">
			<input type="hidden" th:field="*{id}" id="id"/>
			<div class="form-group">
				<label for="eventName" class="col-sm-2 control-label">Event name*</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="eventName" th:field="*{name}" required="required"/>
				</div>
			</div>
			<div class="form-group">
				<label for="summaryTextArea" class="col-sm-2 control-label">Summary</label>
				<div class="col-sm-10">
					<textarea class="form-control" id="summaryTextArea" rows="3"
					th:field="*{summary}"></textarea>
				</div>
			</div>
			<div class="form-group">
				<label for="descriptionTextArea" class="col-sm-2 control-label">Description</label>
				<div class="col-sm-10">
					<textarea class="form-control" id="descriptionTextArea" rows="5"
					th:field="*{description}"></textarea>
				</div>
			</div>
			<div class="form-group">
				<label for="startTime" class="col-sm-2 control-label">Start time*</label>
				<div class="col-sm-10">
					<input class="form-control" type="datetime"
						th:field="*{startsAt}"
						id="startTime" required="required"/>
					<small id="startDateHelp" class="form-text text-muted">yyyy.mm.dd hh:mm</small>
				</div>
			</div>
			<div class="form-group">
				<label for="endTime" class="col-sm-2 control-label">End time</label>
				<div class="col-sm-10">
					<input class="form-control" type="datetime"
						th:field="*{endsAt}"
						id="endTime" />
					<small id="startDateHelp" class="form-text text-muted">yyyy.mm.dd hh:mm</small>
				</div>
			</div>
			<label for="location" class="control-label">Location</label>
			<br></br>
			<div class="form-group">				
				<div class="form-group">
					<label for="locationName" class="col-sm-2 control-label">Name</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="locationName" th:field="*{location.name}"/>
					</div>
				</div>
				<div class="form-group">
					<label for="country" class="col-sm-2 control-label">Country*</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="country" th:field="*{location.country}" required="required"/>
					</div>
				</div>
				<div class="form-group">
					<label for="zipCode" class="col-sm-2 control-label">ZIP code*</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="zipCode" th:field="*{location.zipCode}" required="required"/>
					</div>
				</div>
				<div class="form-group">
					<label for="city" class="col-sm-2 control-label">City*</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="city" th:field="*{location.city}" required="required"/>
					</div>
				</div>
				<div class="form-group">
					<label for="address" class="col-sm-2 control-label">Address*</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="address" th:field="*{location.address}" required="required"/>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="webUrl" class="col-sm-2 control-label">Web URL</label>
				<div class="col-sm-10">
					<input type="url" class="form-control" id="webUrl" th:field="*{webUrl}"/>
				</div>
			</div>
			<div class="form-group">
				<label for="fbUrl" class="col-sm-2 control-label">Facebook URL</label>
				<div class="col-sm-10">
					<input type="url" class="form-control" id="fbUrl" th:field="*{fbUrl}"/>
				</div>
			</div>
			<div class="form-group">
				<label for="types" class="col-sm-2 control-label">Types*</label>
				<div class="col-sm-10">
					<select multiple="multiple" class="form-control" id="types" required="required" th:field="*{types}">
						<option th:each="type : ${allTypes}"
						
						 th:value="${{type}}"
						th:text="${type.name}">
						</option>
					</select>
				</div>
			</div>
			<label for="prices" class="control-label">Prices</label>
			<br></br>
			<div class="form-group">				
				<div class="form-group">
					<label for="normalPrice" class="col-sm-2 control-label">Normal</label>
					<input type="hidden" th:field="*{normalPrice.id}"/>
					<input type="hidden" th:field="*{normalPrice.type}"/>
					<div class="col-sm-5">
						<input type="number" step="any" class="form-control" id="normalPrice" th:field="*{normalPrice.amount}"/>
					</div>
					<div class="col-sm-5">
						<select class="form-control" id="currencies" th:field="*{normalPrice.currency}">
						<option th:each="currency : ${currencies}" th:value="${{currency}}"
						th:text="${currency.symbol}">
						</option>
					</select>
					</div>
				</div>
				<div class="form-group">
					<label for="studentPrice" class="col-sm-2 control-label">Student</label>
					<input type="hidden" th:field="*{studentPrice.id}"/>
					<input type="hidden" th:field="*{studentPrice.type}"/>
					<div class="col-sm-5">
						<input type="number" step="any" class="form-control" id="studentPrice" th:field="*{studentPrice.amount}"/>
					</div>
					<div class="col-sm-5">
						<select class="form-control" id="currencies" th:field="*{studentPrice.currency}">
						<option th:each="currency : ${currencies}" th:value="${{currency}}"
						th:text="${currency.symbol}">
						</option>
					</select>
					</div>
				</div>
				<div class="form-group">
					<label for="retiredPrice" class="col-sm-2 control-label">Retired</label>
					<input type="hidden" th:field="*{retiredPrice.id}"/>
					<input type="hidden" th:field="*{retiredPrice.type}"/>
					<div class="col-sm-5">
						<input type="number" step="any" class="form-control" id="retiredPrice" th:field="*{retiredPrice.amount}"/>
					</div>
					<div class="col-sm-5">
						<select class="form-control" id="currencies" th:field="*{retiredPrice.currency}">
						<option th:each="currency : ${currencies}" th:value="${{currency}}"
						th:text="${currency.symbol}">
						</option>
					</select>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary">Save</button>
				</div>
			</div>
		</form>


	</section>

</body>
</html>