<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="page">
<head>
  <title th:replace="this :: title">EventFinder</title>
  <script src="common-script.js"></script>
  <link rel="stylesheet" type="text/css" th:href="@{/css/layout.css}" />
</head>
<body>
  <header>
    <h1>EventFinder</h1>
  </header>
  <div class="vertical-menu">
	  <a href="#" class="active">Home</a>
	  <a href="#">Events</a>
	  <a href="#">My events</a>
	  <a href="#">Profile settings</a>
</div>
  <section th:replace="this :: content">
    <p>Page content goes here</p>
  </section>
  <footer>
    <p layout:fragment="custom-footer">Custom footer</p>
  </footer>  
</body>
</html>