<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="layout :: page">
<head>
<title th:fragment="title">Events</title>
<script src="content-script.js"></script>
</head>
<body>
	<section th:fragment="content" class="col-sm-10">
		<div th:replace="eventsTableFragment :: jsScript('myevents')"></div>

		<div th:replace="eventsTableFragment :: modal"></div>

		<h2>Events</h2>
		<br></br>
		<a th:href="@{/add}" role="button" class="btn btn-success pull-right">
			New event
		</a>
		<br></br>
		
		<div th:replace="eventsTableFragment :: table ('/myevents/json')"></div>


	</section>

</body>
</html>